@page "/board"

<DebugPanel @ref="DebugPanel"></DebugPanel>
@if (GameState != null)
{
    <CascadingValue TValue="IDebuggableUI" Value="DebugPanel">
        <div id="board">
        </div>
        <PlayerActions @ref="playerActionsComponent"></PlayerActions>
        <Instructions @ref="InstructionsPanelComponent"></Instructions>
        <Failure Visible="false"></Failure>
        <Victory Visible="false"></Victory>
        @if (CurrentPlayer != null)
        {
            <SelectDestination @ref="SelectDestinationComponent" OnDestinationSelected="DestinationSelected"></SelectDestination>
            <PlayerCards Cards="@CurrentPlayer?.PlayerCards"></PlayerCards>
            <CurrentPlayerInformation Player="@CurrentPlayer" />
        }
        <button @onclick="Play">Jouer</button>
        <Errors @ref="ErrorsComponent" />
    </CascadingValue>
}

@code {

}
