<div id="debug-panel">
    <h3>DebugPanel</h3>

    <ul>
        @foreach (var k in DebugActions.Keys)
        {
            <li>
                <button @onclick="()=>DebugActions[k]()">@k</button>
            </li>
        }

    <h4>Traces</h4>

        @foreach (string msg in Logs)
        {
            <li>@msg</li>
        }
    </ul>

</div>



