<div>
    <span>@Error</span>

    @code {

        public string Error { get; set; } = "";
        public void SetError(string error)
        {
            Error = error;
            StateHasChanged();
        }

    }
</div>
