
#instructions {
    border-radius: 10px 0px 10px 0px;
    position: fixed;
    top: 10px;
    left: 16px;
    width: 450px;
    height: 200px;
    padding: 8px;
    overflow: auto;
    color: darkgreen;
    font-size: 12px;
    font-weight: bold;
    background-color: rgb(76, 255, 0, .75);
    border: 2px solid rgb(76, 255, 0, 0.5);
    box-sizing: border-box;
}
