

<div style="display:@Visibility" class="destination-panel">
    <h3>Destination.</h3>
    @if (Destinations != null)
    {
        @foreach (Town t in Destinations)
        {
            <div class="destination-item" style="background-color:@t.Color" @onclick="@(() => Visible = false)">
                <span style="color:orange">@t.Name</span><br />
                <span class="destination-country">@t.Country </span>
                <span class="destination-cdc">@(t.HasSearchStation ? "Possede un CDC" : "Sans CDC")</span>
            </div>
        }
    }
</div>
